<table>
    <tr>
        <td style="text-align: right;" rowspan="4">
            <img src="http://soaneemrana.com/CRM/Common/LoginPageFiles/Images/LNVMOnline1.png"
                alt="Posts" height="80" width="80" style="margin-right: 5px;" />
        </td>
        <td>
            <strong>NYSSA AVIATION TRAINING ACADEMY (NATA)</strong>
        </td>
    </tr>
    <tr>
        <td>
            B -38, Sunder Sing Marg, Block B, Old DLF Colony,
        </td>
    </tr>
    <tr>
        <td>
            Sector 14, Gurugram, Haryana 122001
        </td>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
</table>
<!--<table width="100%">
    <tr style="width: 100%">
        <td style="height: 80px; width: 1200px;">
            <strong>NYSSA AVIATION TRAINING ACADEMY (NATA)</strong>
            <br />
            <span style="font-size: large; font-family: Calibri; margin-top: 10px; width: 1200px;">
                B -38, Sunder Sing Marg, Block B, Old DLF Colony, </span>
            <br />
            <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 14px;
                font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;
                font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px;
                text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
                background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;
                display: inline !important; float: none;">Sector 14, Gurugram, Haryana 122001</span>
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            <img src="http://soaneemrana.com/CRM/Common/LoginPageFiles/Images/LNVMOnline1.png"
                alt="Posts" height="80" width="80" style="margin-right: 5px;" />
        </td>
    </tr>
</table>-->
<table width='100%' cellspacing='0' cellpadding='2'>
    <tr>
        <td align='center' style='background-color: #18B5F0' colspan='2'>
            <b>Payment Receipt</b>
        </td>
    </tr>
    <tr>
        <td align='Left' colspan='2'>
            <b>Gunjesh Ranjan (Enrollment No- 123END0001),</b>
        </td>
    </tr>
    <tr>
        <td colspan='2'>
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            Thank you for making payment of Rs. 4500/- by Cash.
        </td>
    </tr>
    <tr>
        <td>
            <b>Receipt No: </b>2303
        </td>
        <td align='right'>
            <b>Invoice Date: </b>3/5/2020 11:03:01 AM
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            <b>GST No: </b>ASPSnippets
        </td>
    </tr>
</table>
<br />
<table border="1" cellspacing="1" cellpadding="1" style="font-family: Calibri; font-size: medium">
    <tr style="background: Red; background-color: Gray;">
        <td width="450">
            <b>Description </b>
        </td>
        <td align="center">
            <b>Rec. Amount </b>
        </td>
        <td align="center">
            <b>SGST</b>
        </td>
        <td align="center">
            <b>CGST</b>
        </td>
        <td align="center">
            <b>IGST</b>
        </td>
        <td align="center">
            <b>Total</b>
        </td>
    </tr>

    <tr>
        <td width="336">
            Course Fee
        </td>
        <td width="95" align="right">
            4000
        </td>
        <td width="58" align="right">
            360
        </td>
        <td width="59" align="right">
            360
        </td>
        <td width="52" align="right">
            0
        </td>
        <td width="59" align="right">
            4000
        </td>
    </tr>
    <tr>
        <td width="336">
        </td>
        <td width="95">
        </td>
        <td width="58">
        </td>
        <td width="59">
        </td>
        <td width="52">
        </td>
        <td width="59">
        </td>
    </tr>
    <tr>
        <td width="336">
        </td>
        <td width="95">
        </td>
        <td width="58">
        </td>
        <td width="59">
        </td>
        <td width="52">
        </td>
        <td width="59">
        </td>
    </tr>
   
    <tr>
        <td width="336" rowspan="4">
           <u> Remarks / Payment Instructions</u>
            <br />
            please pay the remianing amount till 1st april 2020.
        </td>
        <td colspan="4" align="right">
            Total Paying Amount
        </td>
        <td width="59" align="right">
            4000
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total SGST (Included 9%, if any)
        </td>
        <td width="59" align="right">
            360
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total CGST (Included 9%, if any)
        </td>
        <td width="59" align="right">
            360
        </td>
    </tr>
    <tr>
        <td colspan="4" align="right">
            Total IGST (Included 9%, if any)
        </td>
        <td width="59" align="right">
            360
        </td>
    </tr>
</table>
<table width='100%' style="font-family: arial, sans-serif; font-size: 12px; font-style: normal;
    font-variant-ligatures: normal;">
    <tr>
        <td>
            <br />
        </td>
        <td>
        </td>
        <br />
    </tr>
    <tr>
        <td align='left'>
            <strong>Signature of Student/Parents/Gaurdian</strong>
        </td>
        <td align='right'>
            <strong>Signature/Stamp NATA Authorities</strong>
        </td>
    </tr>
</table>
<br />
<table width='100%' cellspacing='0' cellpadding='2' style="font-family: arial, sans-serif;
    font-size: 10px; font-style: normal; font-variant-ligatures: normal;">
    <tr>
        <td colspan='2'>
            1. The amount receipted for is against part/full payment fee aforementioned course
            only.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            2. There is no replacement guarantee.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            3. The fee part/full once paid shall not be refunded under any circumstances.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            4. In case you don’t pay the fees by due date, late fee charges will be applicable.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            5. In case any of your post dated cheques is dishonored by bank of any reason whatever,
            you will not be allowed to attend the class. Further, if you are not able to pay
            the balance fee within the notice period given by the management, your admission
            to the course shall be cancelled and the fee already paid shall not be refunded
            and shall stand forehanded without prejudice to other available remedies.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            6. The detailed terms and conditions are contained in student agreement between
            organization and student/legal guardian.
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            7. The management reserves the right to refuse the admission to candidate. If he/she
            does not submit the required document or complete all the admission formalities
            by the stipulated date given by management with shall in no case be later than 10
            days from the date of taking registration.
        </td>
    </tr>
</table>
