#text
{
    float:left;
    width:100px;
}

/*CSS for dropdown box*/
select {
    /* width: 500px; */
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCC;
    font-weight: 200;
    font-size: 12px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}

select: hover
{
    width: 500px;
    height: 30px;
    border-radius: 3px;
    font-weight: 200;
    font-size: 13px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    background-color:lemonchiffon;
    border: 1px solid #aaa;
}

/*CSS for input textbox and password*/

input[type='text'], input[type='password'] {
    border-radius: 3px;
    /* width: 484px; */
    border: 1px solid #CCC;
    padding: 6px;
    font-size: 12px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    margin-left: 0px;
}

input[type='text'] 
{
    text-transform: uppercase;
   
    color: #0033CC;
    background-color: #FFFFFF;
}


input[type='text']:hover, input[type='password']:hover
{
   
}
.TextBoxTextUpper
{
   text-transform: uppercase;
}
.textareaWithoutMargin
{
    
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    text-align: left;
    margin-left: 0px;
    text-transform: uppercase;
 
}

.TextBoxRedBorder
{
    background-color:red;
    border: 1px solid red;
    border-color:red;
}

.TextBoxGreenBorder
{
    background-color:lightgreen;
    border: 1px solid lightgreen;
    border-color:lightgreen;
}

.TextBoxYellowBorder
{
    background-color:lightyellow;
    border: 1px solid lightyellow;
    border-color:lightyellow;
}



/*CSS for textarea*/

textarea
{
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 8px;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    text-align: left;
    margin-left: 0px;
    }
textarea:hover
{
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 8px;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}

/*input type for submit button*/

input[type='submit']
{
  border-color: inherit;
    /* border-width: 2px; */
    background-color: #1f3e8e!important;
    font-weight: 700;
    text-align: center;
    color: White;
    padding: 7px 17px;
    border-radius: 4px;
    border: none;
    
    
}

input[type='submit']:hover
{
    
    background-color:#f57f23 !important;
    
}


/* For Arrpve/Prending in Circle Layout*/
span.CircleInRed {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

span.CircleInGreen{
  background: green;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.CircleInRed {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.CircleInGreen{
  background: green;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.CircleInYellow{
  background: Yellow;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: black;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

/* For Check Box */
.CheckBoxLabelYellow
{
    width            : 1em;
    height           : 1em;
    border           : 0.0625em solid yellow;
    border-radius    : 0.25em;
    background       : yellow;
    background-image : -moz-linear-gradient(yellow,yellow);
    background-image : -ms-linear-gradient(yellow,yellow);
    background-image : -o-linear-gradient(yellow,yellow);
    background-image : -webkit-linear-gradient(yellow,yellow);
    background-image : linear-gradient(yellow,yellow);
    vertical-align   : middle;
    line-height      : 1em;
    text-indent      : 20px;
    font-size        : 14px;
}

.CheckBoxLabelRed
{
   width            : 1em;
    height           : 1em;
    border           : 0.0625em solid Red;
    border-radius    : 0.25em;
    background       : Red;
    background-image : -moz-linear-gradient(Red,Red);
    background-image : -ms-linear-gradient(Red,Red);
    background-image : -o-linear-gradient(Red,Red);
    background-image : -webkit-linear-gradient(Red,Red);
    background-image : linear-gradient(Red,Red);
    vertical-align   : middle;
    line-height      : 1em;
    text-indent      : 20px;
    font-size        : 14px;
}

.CheckBoxLabelGreen
{
   width            : 1em;
    height           : 1em;
    border           : 0.0625em solid Green;
    border-radius    : 0.25em;
    background       : Green;
    background-image : -moz-linear-gradient(Green,Green);
    background-image : -ms-linear-gradient(Green,Green);
    background-image : -o-linear-gradient(Green,Green);
    background-image : -webkit-linear-gradient(Green,Green);
    background-image : linear-gradient(Green,Green);
    vertical-align   : middle;
    line-height      : 1em;
    text-indent      : 20px;
    font-size        : 14px;
}

 

/* For Calendar */
 .MyCalendar .ajax__calendar_container
  {
    border: 1px solid #646464;
    background-color: lemonchiffon;
    color: red;
  }
  .MyCalendar .ajax__calendar_other .ajax__calendar_day, .MyCalendar .ajax__calendar_other .ajax__calendar_year
  {
    color: black;
  }
    .MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year
  {
    color: black;
  }
  .MyCalendar .ajax__calendar_active .ajax__calendar_day, .MyCalendar .ajax__calendar_active .ajax__calendar_month, .MyCalendar .ajax__calendar_active .ajax__calendar_year
  {
    color: black;
    font-weight: bold;
  }
/* for Modal Dailog Box*/
  .modalPopup
    {
        background-color: #696969;
        filter: alpha(opacity=40);
        opacity: 0.7;
        xindex: -1;
    }
   
 /* Disabled back date*/
.ajax__calendar_day_disabled {
    background-color: #ccc !important;
    color: red  !important;
}
 

.h4{ color:#ffffff; font-size:14px; text-align:center; line-height:23px; font-weight:bold; background-color:#243154;}

/*fOR gRID*/

.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 12px;
}
.mGrid td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #003366;
}
.mGrid th
{
    padding: 1px 1px;
    color: white;
    background: #3d94f6;
    font-size: 0.9em;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.mGrid .alt
{
    background: #fcfcfc;
}

.mGrid .pgr
{
    background: #FFFFFF;
}

.mGrid .pgr table
{
    margin: 5px 0;
}

.mGrid .pgr td
{
    border-width: 0px;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}

.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}

.mGrid tr:hover
{
    background-color: #FFFFCC;
    color: white;
}